
.grid-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px;
  justify-items: center; 
  align-items: center;   
  grid-template-rows: 600px;
 
  margin-left:10px;
  margin-right:10px;
}
.grid-item{
  width:300px;
  height:530px;
  border: 1px solid #e2e8f0; 
  border-radius: 12px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; 
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; 
  background-color: #e4eafa;
  color: #ff0000;
}
  






@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
