
.grid-container {
  display: grid;
  grid-template-columns: 1fr; 
  gap: 10px;
  justify-items: center; 
  align-items: center;   
  grid-template-rows: 500px;
 
  margin-left:10px;
  margin-right:10px;
}
.grid-item{
  width:300px;
  height:430px;
  border: 1.5px solid black;
}




@media (min-width: 600px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}


@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


@media (min-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
